// Inspired by: http://codepen.io/grantex/pen/bmevz

$grey-light: #BBBBBB;
$grey-dark: #383838;

aside {
  background: $grey-dark;
  border-right: 1px solid $grey-light;
  display: none;
  height: 100%;
  left: 0;
  opacity: .7;
  position: absolute;
  top: 0;
  width: 200px;
  &::before {
    content: '';
    display: block;
    height: 67px;
  }
  a {
    border-bottom: 1px solid $grey-light;
    color: $grey-light;
    display: block;
    font-size: 20px;
    padding: 12px 18px;
    text-decoration: none;
  }
}

.toggle-wrap {
  cursor: pointer;
  float: left;
  padding: 10px;
  position: relative;
  z-index: 1;

  @include user-select(none);
  // disable selection
  // -webkit-touch-callout: none;
  &.active {
    .toggle-bar::before {
      @include transform(rotate(45deg));
    }
    .toggle-bar::after {
      @include transform(rotate(-45deg));
    }
    .toggle-bar {
      border-top: 6px solid transparent;
    }
  }
}
.toggle-bar,
.toggle-bar::before,
.toggle-bar::after,
.toggle-wrap.active .toggle-bar,
.toggle-wrap.active .toggle-bar::before,
.toggle-wrap.active .toggle-bar::after {
  @include transition(all .2s ease-in-out);
}

.toggle-bar {
  border-top: 6px solid $grey-light;
  display: block;
  margin: 10px 0;
  position: relative;
  width: 38px;
  &::before,
  &::after {
    background: $grey-light;
    content: '';
    display: block;
    height: 6px;
    position: absolute;
    top: -16px;
    width: 38px;

    @include transform(rotate(0deg));
    @include transform-origin(13%);
  }
  &::after {
    top: 4px;
  }
}
