// Longitude
$bar-height: 80px;
$grid-side: 100px;
$menu-trigger-distance: 25px;

// Other colors
$box-shadow-normal: #CCCCCC;
$text-shadow-normal: #DDDDDD;
$light-grey: #EEEEEE;
$dark-grey: #CCCCCC;
$light-black: #777777;

// Palette
$color-a: #118DB2;
$color-b: #FFFFFF;
$color-c: #6D8E68;
